@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color: #141414;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 0px;
  display: none;
}

html {
  scrollbar-width: thin;
  scrollbar-gutter: stable;
  scrollbar-color: rgb(170,68,63) transparent;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: rgb(170,68,63);
}

html::-webkit-scrollbar-thumb:hover {
  background: rgb(153, 58, 53);
}

.layout {
  display: grid;
  grid:
    "header header" 80px
    "sidebar main" 1fr
    / auto 1fr;
}

.reverse-layout {
  display: grid;
  grid:
    "header header" 80px
    "main sidebar" 1fr
    / 1fr auto;
}

.header { grid-area: header; }
.sidebar { grid-area: sidebar; }
.main { grid-area: main; }

.background-create-account {
  background-image: url('../../public/marisol-benitez-QvkAQTNj4zk-unsplash.jpg');
  background-size:  cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(20, 20, 20, 0.5);
  overflow-x: hidden;
  opacity: 0.6;
}