@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  overflow-x: hidden;
}

.layout {
  display: grid;
  grid:
    "header header" 112px
    "sidebar main" 1fr
    / auto 1fr;
}

.header { grid-area: header; }
.sidebar { grid-area: sidebar; }
.main { grid-area: main; }